.product-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 0.2s;
}
.product-img:hover {
    transform: scale(1.1);
}


.sale-heading {
    text-align: center;
    margin-top: 20px;
    color: red;
    font-size: 70px;
    font-weight: bold;
}